SECRET_KEY=cambiar-esta-clave-secreta-en-produccion
DATABASE_URL=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_CLAIM_EMAIL=mailto:admin@tavogym.com
ADMIN_USERNAME=tavo
ADMIN_PASSWORD=cambiar-esta-contraseña
